/*
THEME: Phantom - Bootstrap Portfolio Template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/phantom-best-bootstrap-portfolio-template/
DEMO: https://demo.themefisher.com/phantom/
GITHUB: https://github.com/themefisher/Phantom-Bootstrap-Portfolio-Template

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
*/

@import "variables";
@import "mixins";
@import "base";

.preloader {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  @include flexbox();

  &.active.hidden {
    display: none;
  }
}

.loading-mask {
  background-color: $primary-color;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 20%;
  @include transition(all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s);

  &:nth-child(2) {
    left: 20%;
    @include transition-delay(0.1s);
  }

  &:nth-child(3) {
    left: 40%;
    @include transition-delay(0.2s);
  }

  &:nth-child(4) {
    left: 60%;
    @include transition-delay(0.3s);
  }

  &:nth-child(5) {
    left: 80%;
    @include transition-delay(0.4s);
  }
}

.preloader.active {
  &.done {
    z-index: 0;
  }

  .loading-mask {
    width: 0;
  }
}

/*------------------------------------------------
	Start Styling
-------------------------------------------------*/
.site-wrapper {
  border-top: 4px solid $primary-color;
}

.page-close {
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 100;
}

.page-title {
  margin-top: 20px;
  margin-bottom: 40px;

  img {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 68px;
    margin-bottom: 25px;
    position: relative;
    z-index: 0;
    font-weight: 900;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
  }

  .title-bg {
    color: rgba($light-dark, 0.2);
    font-size: 158px;
    left: 0;
    letter-spacing: 10px;
    line-height: 0.8;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
    @include transform(translateY(-50%));
  }
}

.section-title {
  margin-bottom: 20px;
  overflow: hidden;

  h3 {
    display: inline-block;
    position: relative;

    &::before,
    &::after {
      content: "";
      height: 2px;
      position: absolute;
      bottom: 8px;
      @include calc(left, "100% + 14px");
    }

    &::before {
      background-color: $light-dark;
      width: 96px;
      bottom: 14px;
    }

    &::after {
      background-color: $primary-color;
      width: 73px;
    }
  }

  &.light {
    h3 {
      color: $light;

      &::before {
        background-color: $light;
      }
    }
  }
}

.page-nav {
  bottom: 40px;
  left: 0;
  position: absolute;
  right: 0;

  span {
    font-family: $open-sans;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
  }
}

.obsydia-logo {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 150px;
}


//
// Home
//
@import "blocks/home";
@import "blocks/welcome";
@import "blocks/about";

// about

.block-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: $secondary-color;
  margin-bottom: 10px;
}

.page-about p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
}

.margin-bottom-about {
  margin-bottom: 100px;
}

// Works

.filter {
  margin-bottom: 30px;

  a {
    border-bottom: 2px solid transparent;
  }

  .active {
    color: $primary-color;
    border-bottom-color: $primary-color;
  }
}

.works-item {
  font-family: $open-sans;
  margin-bottom: 30px;
  position: relative;

  img {
    width: 100%;
  }

  .overlay {
    background-color: rgba(#1e2530, 0.50);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    @include transition(all 0.3s ease 0s);
    @include transform(scale(0));

    &::before {
      border: 1px solid $light;
      bottom: 15px;
      content: "";
      left: 15px;
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }

  .works-inner {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    white-space: nowrap;
    @include transition(all 0.3s ease 0s);
    @include transform(translate3d(0px, 0px, 0px) scale(0));
  }

  h4 {
    color: $primary-color;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    color: $light;
    font-size: 12px;
    font-weight: 400;
  }

  &:hover {
    .overlay {
      @include transform(scale(1));
    }

    .works-inner {
      @include transform(translate(-50%, -50%) scale(1));
    }
  }
}

// history/ resume

.quote-item {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;

  .play-button {
    z-index: 999;
    margin-bottom: 0;
  }

  .quote-block {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 25px 10px 85px;
    width: 100%;
    font-size: 10pt;
    line-height: 1.5;
    margin: 10px 0 10px -80px;
    transform: skew(10deg, 0deg);
    background: rgba(0, 0, 0, 0.5);
    border: 5px solid #CFCBC5;
    min-height: 150px;

    .quote-text {
      transform: skew(-10deg, 0deg);
    }

    .quote-credit {
      position: absolute;
      bottom: 10px;
      right: 20px;
      font-size: 8pt;
      font-weight: bold;
      color: $secondary-color;
      transform: skew(-10deg, 0deg);

      a {
        color: white;
      }
    }
  }
}

.quote-item-reverse {
  @extend .quote-item;
  flex-direction: row-reverse;

  .quote-block {
    margin: 10px -80px 10px 0;
    padding: 10px 85px 10px 25px;

    .quote-credit {
      right: 90px;
    }
  }
}

.margin-bottom-quote {
  margin-bottom: 100px;
}

// Dragoon artwork
//--------------------------------------

.artwork-title {
  width: 100%;
  text-align: center;
  margin: 25px 0 25px;
}

.dragoon-artwork {
  width: 100%;
  margin-bottom: 100px;
}

// Service hex
//--------------------------------------
.service-hex {
  float: left;
  position: relative;
  width: 20%;
  z-index: 1;

  svg {
    @include transform(scale(1.08));
    @include transition(all 0.4s ease 0s);
  }

  .st0 {
    stroke: $light-dark;
    fill: #fff;
  }

  .st1 {
    fill: $light-dark;
  }

  .content {
    color: $light;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    @include transform(translate(-50%, -50%));
  }

  .icon {
    font-size: 30px;
    margin-bottom: 9px;
  }

  h4 {
    color: $light;
    font-size: 16px;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    height: 0;
    line-height: 24px;
    overflow: hidden;
    @include transition(all 0.4s ease 0s);
  }

  &:hover {
    z-index: 2;

    svg {
      @include transform(scale(1.5));
    }

    .st1 {
      fill: $primary-color;
    }

    .content {
      width: 135%;
    }

    p {
      height: 72px;
    }
  }
}

// testimonials
//--------------------------------------

.socials-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: 10px;
  font-size: 10pt;
}

.socials-logo {
  height: 25px;
  margin: 0 10px 0 15px;
  transform: translateY(5px);
}

.play-button {
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;

  img {
    width: 150px;
  }

  .play-icon {
    position: absolute;
    top: 50px;
    left: 55px;
    z-index: 99;
    font-size: 80px;
    opacity: 0.4;
    transition: ease-in-out 300ms;
  }

  &:hover {
    .play-icon {
      opacity: 0.9;
    }
  }
}

.margin-bottom-socials {
  margin-bottom: 160px;
}


// contact

.contact-block {
  padding: 20px 50px;
  width: 100%;
  font-size: 10pt;
  line-height: 1.5;
  margin-bottom: 20px;
  transform: skew(15deg, 0deg);
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid #CFCBC5;

  .content-text {
    transform: skew(-15deg, 0deg);
  }
}

.join-button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;

  img {
    object-fit: contain;
  }
}

.general-credits {
  margin-bottom: 100px;
  width: 100%;
  .credits-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

/*------------------------------------------------
	Responsive Media Queries
-------------------------------------------------*/
@import "media-queries";
@import "dark";
